<div class="section container">
    <h3  id="titulo">{{headingTitle}}</h3>
    <table id="listaDeUsuarios" class="table table-hover">
        <thead>
        <tr>
            <th ng-filter="">>Nome</th>
            <th>Total</th>
            <th>Acoes</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="consumidor in listaConsumo">
            <td>{{consumidor.usuario}}</td>
            <td>{{consumidor.valor}}</td>
            <td>Alterar | Deletar</td>
        </tr>
        </tbody>
    </table>
</div>
</div>